@using KMU.HisOrder.MVC.Models;
@{
    Layout = null;

    var _Clist = ViewData["VD_clinic"] as List<ClinicSchedule>;
    var _Clock = (bool)ViewData["VD_clock"];

    string _rooms = "";
    if (_Clist.Any())
    {
        var alist = _Clist.Select(c => c.ScheRoom).ToArray();
        _rooms = String.Join("|", alist);
    }
}
<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HISCall</title>

    <!-- Bootstrap -->
    <link href="~/lib/bootstrap-4.6.2-dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/lib/font-awesome/css/all.min.css" asp-append-version="true" rel="stylesheet">
    <!-- Animate動態效果 -->
    <link href="~/css/animate.css/animate.css" rel="stylesheet">
    <!-- ltgreen淺綠配色 -->
    <link href="~/css/calling/ltgreen.css" rel="stylesheet">

    <style>
        body {          
            font-family: Verdana;
            font-size: 2rem;
        } 

        #DivView {
            height: 100vh;
        }

        .ui-header {
            height: 1rem;
            margin-bottom: 15px;
            background-color: #474c53;
        }

        .ui-body {
            height: calc(100vh - 1rem - 15px);
            overflow-y: auto;
        }

        .card {
            border-radius: 0.5rem !important;
            width: 770px;
            height: 430px;
        }

        .dept-style {
            font-size: 2.5rem;
            line-height: 2rem;
        }

        .dr-style {
            font-size: 1.5rem; 
        }

        .room-style, .no-style {
            border-radius: 0.5rem !important;
            height: 100%;
            margin-left: 8px;
            margin-right: 8px;
            white-space: nowrap;

            position: relative;
            display: flex;
            align-items: center;
            justify-content: center !important;
        }

        .room-style {
            font-size: 8rem;
        }

        .no-style {
            font-size: 12rem;
        }

        .room-style > h3{
            position: absolute !important;
            top: 10px;
            left: 12px;
            font-size: 2rem;
        }

        .animation-element {
          display: inline-block;
          margin: 0 0.5rem;

          animation: bounceIn; /* 引用動畫的名稱 */
          animation-duration: 1s; /* 持續時間 */
          animation-iteration-count: 5; /*播放次數*/
        }

        #flag-img {
            position: absolute !important;
            top: 2.5rem;
            left: 102.6px;
            z-index: 1;
            max-width: 256.7px;
        }
        #roc_flag {
            position: absolute !important;
            top: 2.5rem;
            left: 419.5px;
            z-index: 1;
            max-width: 256.7px;
        }
        .card-clock > div {
            z-index: 2;
        }

        #clockTime {
         
            font-size: 5.5rem;
            z-index: 2;
        }

        #divMask {
            width: 100%;
            height: 35vh;
            top: 30vh;
            position: absolute;
            background-color: #3C3C3C;
            opacity: 0.9;
            z-index: 99;
            text-align: center;
        }

            #divMask > h1 {
                color: #FFF;
                line-height: 35vh;
            }
    </style>
</head>
<body>

    <div id="divMask"><h1>Page Loading....</h1></div>

    <div id="DivView">
        <div class="ui-header"></div>

        <div class="p-2 fixed-bottom" role="button" style="color:#474c53;font-size:1.5rem;opacity:0.5;">
            <i class="fa-solid fa-volume-high" id="elemVolume" data-volume="on"></i>
        </div>

        <div class="container-fluid ui-body">
            <div class="d-flex align-content-stretch flex-wrap justify-content-center">
                @foreach (var clinic in _Clist)
                {
                    var _dept = string.IsNullOrWhiteSpace(clinic.ScheDptName) ? " - " : clinic.ScheDptName;
                    var _dr = string.IsNullOrWhiteSpace(clinic.ScheDoctorName) ? " - " : clinic.ScheDoctorName;
                    var _room = string.IsNullOrWhiteSpace(clinic.ScheRoom) ? " - " : clinic.ScheRoom;
                    var _no = clinic.ScheCallNo;

                    <div class="card m-3 justify-content-center">
                        <div class="pt-3 px-3">
                            <div class="dept-style">@_dept</div>
                            <div class="dr-style">@_dr</div>
                        </div>
                        <div class="card-body pt-2">
                            <div class="row h-100">
                                <div class="col-5 p-0">
                                    <div class="room-style">
                                        <h3>Room</h3> @_room
                                    </div>
                                </div>
                                <div class="col-7 p-0">
                                    <div class="no-style no-style-bg">
                                        <div name="elemNO" id="elemNO_@_room">@_no</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
               
                @if (_Clock)
                {
                    <div class="card card-clock m-2 text-center justify-content-center">
                        <img id="flag-img" src="~/images/flag.jpg" />
                        <img id="roc_flag" src="~/images/roc_flag.png" />

                       <div  style="padding-top:9.5rem; margin-top:4.2rem; margin-bottom:2rem;">
                        <span id="clockTime" ></span>
                          <div style="font-size: 2rem;">
                            @DateTime.Now.ToString("dddd, dd MMMM yyyy")
                          </div>
                        </div>
                    </div>
                }

            </div>
        </div>
      
    </div>

    <audio id="elemAudio" src="/mp3/dingdong.mp3"></audio>

    <!-- jQuery -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/lib/bootstrap-4.6.2-dist/js/bootstrap.bundle.js"></script>
    <!-- SignalR -->
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>    

    <script>
        document.addEventListener("DOMContentLoaded", () => {

            //2023.3.20 remove mask!! by elain.
            $('#divMask').remove();

            //SignalR ---------------------------------------------------------------------------------------------start
            var connection = new signalR.HubConnectionBuilder().withUrl(encodeURI("/chatHub?irooms=@_rooms")).build();

            //2023.3.20 與Server建立連線 by elain.
            connection.start().then(function () {
                console.warn("Hub connection successful!");
            }).catch(function (err) {
                console.error('Hub connection error! ' + err.toString());
            });

            //2023.3.20 更新Room叫號燈 by elain.
            connection.on("UpdContent", function (msg) {
                if (msg.length > 0) {
                    var obj = JSON.parse(msg);
                    var _id = $('#elemNO_' + obj.iRoom);
                    _id.actionCall(obj.iNO);    //變換燈號
                }
            });

            //2023.3.20 莫名斷線時重新連線 by elain.
            connection.onclose(error => {
                if (connection.state == "Disconnected") {
                    connection.start().then(function () {
                        console.warn("Hub connection again!");
                    }).catch(function (err) {
                        console.error('Hub connection error! ' + err.toString());
                    });
                }
            });
            //SignalR -----------------------------------------------------------------------------------------------end

            $.fn.extend({
  		        animateStartCss: function (animationName, callback)
  		        {  			
                    var animationStart = "webkitAnimationStart mozAnimationStart MSAnimationStart oanimationend animationstart";
                    this.addClass("animated " + animationName).one(animationStart, function () {
  				        $(this).removeClass( "animated " + animationName );
  				        if (callback) callback();
  			        });
  			        return this;
  		        },
                animateEndCss: function (animationName, callback) {
                    var animationEnd = "webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend";
                    this.addClass("animated " + animationName).one(animationEnd, function () {
                        $(this).removeClass("animated " + animationName);
                        if (callback) callback();
                    });
                    return this;
                },
                actionCall: function (num)
                {
                    var elem = $(this);
                    elem.text(num); //變換燈號

                    elem.addClass("animation-element");
                    elem.animateStartCss("bounceIn", function () {
                        elem.parent('div').removeClass('no-style-bg').addClass('no-style-action');
                    });
                    elem.animateEndCss("bounceIn", function () {
                        elem.parent('div').removeClass('no-style-action').addClass('no-style-bg');
                        elem.removeClass("animation-element");
                    });

                    //2023.04.19 音效 add by elain.
                    if ($('#elemVolume').attr('data-volume') == "on"){
                        var audio = document.getElementById("elemAudio");
                        audio.play();
                    }
                }
  	        });

            $('#elemVolume').on('click', function(){
                var _vol = $(this).attr('data-volume');
                if (_vol == "on"){
                    $(this).attr('data-volume','off');
                    $(this).removeClass('fa-volume-high').addClass('fa-volume-xmark');
                }else{
                    $(this).attr('data-volume','on');
                    $(this).removeClass('fa-volume-xmark').addClass('fa-volume-high');
                }
            });

            //2023.3.20 測試用, 點選數字發送signalR叫號訊息 by elain.
            $('[name="elemNO"]').on('click', function(){
                var _no = parseInt($(this).text());

                //signalR test
                var _room = ($(this).attr('id')).replace('elemNO_','');
                connection.invoke("SendMessage", _room, _no.toString()).catch(function (err) {
                    console.error('傳送錯誤: ' + err.toString());
                });
            });

            //2023.3.20 時鐘Timer by elain.
            if ($('#clockTime').length > 0) {
                setInterval(clock_Timer, 1000);
                function clock_Timer() {
                    const d = new Date();
                    document.getElementById("clockTime").innerHTML = d.toLocaleTimeString('en-GB');
                }
            }

        });
    </script>
</body>
</html>
