@model KMU.HisOrder.MVC.Areas.Reservation.ViewModels.PrintClass
<table style="width:100%;">
    <tr>
        <td colspan="3">
            <hr style="margin-bottom:0px; border-color:#999;" />
        </td>
    </tr>
    <tr>
        <td style="width:30%; font-size: 20px;">
            <b>Print User: </b> <br /> @Model.ModifyName (@Model.ModifyID)
        </td>
    </tr>
    <tr>
        <td style="width:30%; font-size: 20px;">
            <b>Print Time:</b> <br /> @DateTime.Now.ToString("dd/MM/yyyy HH:mm:ss")
        </td>
    </tr>
</table>

