@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>KMU Login </title>

    <!-- Bootstrap -->
    <link href="~/lib/bootstrap-4.6.2-dist/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Font Awesome -->
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />

    <!-- NProgress -->
    <link href="~/lib/nprogress/nprogress.min.css" rel="stylesheet" />
    <!-- Animate.css -->
    <link href="~/css/animate.css/animate.min.css" rel="stylesheet" />

    <!-- Custom Theme Style -->
    <link href="~/css/custom.css" rel="stylesheet" />

    <style>

        #ui-header {
            font-family: "Segoe UI";
        }
    </style>
</head>

<body class="login">


@if( TempData["Show_User_Messages"] != null)
{
<table align="center">
				<tr>
								<td>
	<h2>
		<center>
			<div class="alert alert-primary" role="alert">
			@TempData["Show_User_Messages"]
			</div>
		</center>
	</h2>
								</td>
				</tr>
</table>
}

<form method="post" asp-area="" asp-controller="Login" asp-action="forgotPasswordDoSettingMobileNumberAsDefaultPassword">
<table align="center">
				<tr>
								<td>
<h1 class="text-center">Forgot password?</h1>

<h2 class="text-center">Please enter your ID and Mobile Phone Number to reset your password for your account.</h2>

	<div class="form-group row mx-0 ">
            <label class="form-control col-lg-4 font-weight-bold border-0 px-0" style="background-color:inherit"><font color="red">*</font>Account ID:</label>
            <input type="text" name="username" class="form-control col-lg-8 font-weight-bold text-center rounded" placeholder="Account ID" required="" />
	</div>
	
	<div class="form-group row mx-0 ">
            <label class="form-control col-lg-4 font-weight-bold border-0 px-0" style="background-color:inherit"><font color="red">*</font>Mobile Phone Numbe:</label>
            <input type="password" name="PhoneNumber" class="form-control col-lg-8 font-weight-bold text-center rounded" placeholder="Mobile Phone Number" required="" />
	</div>

	<div class="row justify-content-center">
	<button type="submit" class="btn btn-primary">Reset</button>	
	</div>

<h2>
								<center>
									<span style="color:#FF0000">Notice : The default password is your Mobile Phone Number</span>
								</center>
</h2>
								</td>
				</tr>
</table>
</form>
<center>
			<a class="reset_pass" asp-controller="Login" asp-action="Index">Go back to login page</a>
</center>





</body>
</html>


