@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<head>
    <title>Version History</title>
</head>
<!-- Bootstrap -->
<link href="~/lib/bootstrap-4.6.2-dist/css/bootstrap.min.css" rel="stylesheet" />


<div class="col-md-12"style="padding-left: 150px; padding-right: 150px">
    <div style="text-align: center; margin-top: 35px">
        <h3>Version History</h3>
    </div>
    <div class="row" style="margin-top: 40px">
        <img src="~/images/CoverIcon.png" height="25" />
        <h5 style="margin-left: 5px">SOMALILAND HEALTH INFORMATION (HIS)</h5>
    </div>
    <hr style="padding-right: 300px" />
    <div class="row" >
        <h6 style="padding-left: 15px" class="col-md-10">01/08/2023</h6>
        <h6 style="padding-left: 60px;">ver: 116.0801.9000</h6>
    </div>
    <div style="margin-top: 30px">
        <h3>New/Updated Features:</h3>
        <div style="margin-left: 70px; margin-top: 30px; padding-bottom: 25px">
            <p style="font-size: 20px">1. Changed the color of the print papers window.</p>
            <p style="font-size: 20px">2. Others item in the medicine table you can edit the unit of that item.</p>
            <p style="font-size: 20px">3. If the patient less than 2 years, years changed to year.</p>
            <p style="font-size: 20px">4. If the appointment is not today you can not cancel or print.</p>
            <p style="font-size: 20px">5. If the patient is not finish you cannot assign to the doctor again.</p>
            <p style="font-size: 20px">6. Added department detail.</p>
            <p style="font-size: 20px">7. Added appointment detail using searching by date to date, their status or department name.    .</p>
            <p style="font-size: 20px">8. you can cancel the appointment in appointment detail.</p>
            <p style="font-size: 20px">9. ER doctors can see the time patient came </p>
           <p style="font-size: 20px">10. Create new patient page added, add more addresses button.</p>
           <p style="font-size: 20px">11. Patient’s history print button.</p>
           <p style="font-size: 20px">12. Appointment paper size changed to small paper.</p>
           <p style="font-size: 20px">13. If clinic remark is empty system shows warning alert.</p>
           <p style="font-size: 20px">14. Example-icon tells how to use clinic remark and management.</p>

        </div>
    </div>


    @*@Somali Version@*@
     <div style="margin-top: 30px">
        <h3>Wax ka Badalka Lagu Daray:</h3>
        <div style="margin-left: 70px; margin-top: 30px; padding-bottom: 25px">
            <p style="font-size: 20px">1. Daaqada soo baxda marka warqadaha la daabacayo midabkeeda ayaa la badalay</p>
            <p style="font-size: 20px">
                2. Haddii aad doorato other markaad joogto medicine table-ka waad badali kartaa
                unit-ka.
            </p>
            <p style="font-size: 20px">3. Hadduu bukaanku labo sano ka yaryahay waa laga saaray inay <span class="text-danger">s</span> raacdo da'diisa.</p>
            <p style="font-size: 20px">4. haddii aanay balantu maanta ahayn lama cancel garayn karo lamana dabaci karo.</p>
            <p style="font-size: 20px">5. Haddii aan finish la odhan bukaanka looma diri karo mar labaad dhakhtarka.</p>
            <p style="font-size: 20px">6. waxaad si faahfaahsan u arki department kasta </p>
            <p style="font-size: 20px">
                7. waxaad si faahfaahsan u arki kartaa balamaha, waanad baadhi kartaa
                adigoo ku baadhaya tariikh ilaa taariikh, magaca department, status-ka.

            </p>
            <p style="font-size: 20px">8. Waad xidhi kartaa balanta adigoo jooga appointment detail-ka.</p>
            <p style="font-size: 20px">9. Dhakhtarku wuxuu arki karaa xiliga uu yimi bukaanku emergency-ga.</p>
           <p style="font-size: 20px">10. Halka laga laga diwaan galiyo bukaanka cusub waxa lagusoo daray in lagu darikaro goob cusub.</p>
           <p style="font-size: 20px">11. Button daabacaya history-ga bukaanka.</p>
           <p style="font-size: 20px">12. Warqadii appointment-ga waxaa loo badalay warqad yar.</p>
           <p style="font-size: 20px">13. Haddii clinic remark uu madhanyahay system-ku wuxuu ku tusayaa qoraal
                digniin ah.
            </p>
           <p style="font-size: 20px">14. Example icon wuxuu kuu sheegayaa sida loo isticmaalayo clinic remark-ga
                iyo management-ga.
            </p>
        </div>
    </div>
    <hr style="padding-right: 300px" />
    <div style="aling-item: center; padding-bottom: 20px">
        <a style="align-item: center" href="~/VersionHistory.pdf" download class="btn btn-outline-dark">Download As Pdf</a>
    </div>
</div>