
<hr style=" border-color:#999;" />
<table id="FooterTable" style="width:100%;">
    <tr>
        <td style="width:35%;">
            Clinic:<br />@Model.GlobalVariable.Clinic.DeptName
        </td>
        <td style="width:45%;">
            Doctor:<br />@Model.GlobalVariable.Clinic.DoctorName
        </td>
        <td style="width:20%;">
            Sign:<br />________________
        </td>
    </tr>
</table>
