@{
    var Title = ViewData["Title"] = "Support";
}
<h6 class="direction mx-2">@Title</h6>
<div class="row mb-3 justify-content-center">
    <div class="col-11 row d-flex shadow-sm justify-content-center bg-white align-items-center py-4 my-4">
        <h5 class="p-4 text-dark">Download Documents here</h5>
    </div>
    <div class="col-11 row d-flex shadow-sm justify-content-start align-items-center gap-4 py-4">
        <div class="col-6 row">
            <div class="card col-5 text-center">
                <div class="card-body">
                    <p>User Manual</p>
                </div>
                <a href="~/user manuall version 115.pdf" download class="btn btn-success">Download</a>
            </div>
            <div class="card col-5 text-center ml-2">
                <div class="card-body">
                    <p>Version History</p>
                </div>
                <a href="~/VersionHistory.pdf" download class="btn btn-success">Download</a>
            </div>
        </div>
        <div class="col-6 row m-0 p-0">
            <div class="col-11 offset-1 shadow-sm bg-white p-2">
                <p class="text-success">If you have question please contact us this mobile phone.</p>
                <p>+252 63 4137026</p>
            </div>
        </div>

    </div>
</div>