@model KMU.HisOrder.MVC.Models.KmuCoderef


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Create";
    Layout = null;
}

<link href="~/css/style.css" rel="stylesheet" />

<div style="padding:10px;">
    <div class="row">
        <div class="col-md-12">
            <form id="MedCreateForm" asp-action="CreateRoom">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <font color="red">*</font>
                    <label asp-for="RefCodetype" class="control-label"></label>
                    @* <input asp-for="MedType" class="form-control" />*@
                    <input value="clinic_room" asp-for="RefCodetype" readonly="readonly" class="form-control" required="" />
                    <span asp-validation-for="RefCodetype" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <font color="red">*</font>
                    <label class="control-label">Room Number</label>
                    <input asp-for="RefCode" class="form-control" required="" />
                    <span asp-validation-for="RefCode" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <font color="red">*</font>
                    <label class="control-label">Room Name</label>
                    <input asp-for="RefName" class="form-control" required="" />
                    <span asp-validation-for="RefName" class="text-danger"></span>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label">Desc</label>
                            <input asp-for="RefDes" class="form-control" />
                            <span asp-validation-for="RefDes" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input id="MedSubmitBtn" type="submit" value="Create" class="btn btn-primary form-control" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <a class="btn btn-default form-control" asp-action="Index">Cancel</a>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>


@{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#MedCreateForm').submit(function () {
                $('#MedSubmitBtn').prop('disabled', true);

                setTimeout(function () {
                    $('#MedSubmitBtn').prop('disabled', false);
                }, 3000);
            });
        })
    </script>
} 